/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
    * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
    *
*/

* {
    box-sizing: border-box;
  }

  body {
    font-family: 'Cutive', serif;
    color: #495057;
  }

  header, footer, main {
    border: 3px solid #adb5bd;
	text-align: center;
    margin: 10px 50px;
    border-radius: 10px;
  }
  
    main {
	//font-family: 'Cutive', serif;
    //color: #495057;
	//border: 3px solid #adb5bd;
    //margin: 10px 50px;
    //border-radius: 15px;
  }
  
  .quiz-info {
	 text-align: right;  
	 margin: 0 5%;
  }  
   
	form button, .container .btn {
    padding: 10px 15px;
    border-radius: 10px;
    border: 0;
    font-size: 14px;
    background: #495057;
    color: #fff;
    margin: 15px 10px;
}

	.question-container {
	margin: 0 10%;
	text-align: left;
	}
	