/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
    * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
    *
*/

* {
    box-sizing: border-box;
  }

  body {
    font-family: 'Cutive', serif;
    color: #495057
  }

  header, main, footer {
    border: 3px solid #adb5bd;
    text-align: center;
    margin: 10px 50px;
    border-radius: 25px;
  }

  .group {
    display: flex;
    flex-direction: column;
  }

  .item {
    flex: 1;
    margin: 10px;
  }
  
  form button {
    padding: 10px 16px;
    border-radius: 10px;
    border: 0;
    font-size: 14px;
    background: #495057;
    color: #fff;
    margin: 10px 10px;
}
